
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply text-slate-800 dark:text-slate-100;
  }
}

@layer components {
  .textarea-tw {
    @apply bg-[hsla(200,0%,100%,1)]  dark:bg-[hsla(200,0%,10%,1)]  placeholder:text-slate-400 dark:placeholder:text-slate-300 text-slate-800 dark:text-slate-100 rounded-lg dark:!shadow-white textarea-box;
  }
}

@font-face {
  font-family: "Sniglet";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Sniglet-Regular.ttf");
}

@font-face {
  font-family: "Freude";

  font-display: swap;
  src: url("/fonts/Freude.otf");
}

* {
  box-sizing: border-box;
}

:root {
  --colorPop: hsla(178, 100%, 50%, 1);
  --colorPopbase: 178, 100%, 50%;
  --colorLight1: hsla(284, 94%, 88%, 1);
  --colorLight1base: 284, 94%, 88%;
  --colorLight1HslBase: 284, 94%;

  --colorLight2: hsla(319, 100%, 37%, 1);
  --colorLight2base: 319, 100%, 37%;
  --colorLight3: hsla(312, 59%, 61%, 1);
  --colorLight3base: 312, 59%, 61%;

  --colorDark1: hsla(206, 91%, 64%, 1);

  --colorDark1base: 206, 91%, 64%;
  --colorDark1HslBase: 206, 91%;

  --colorDark2: hsla(224, 64%, 40%, 1);
  --colorDark2base: 224, 64%, 40%;

  --menuColor: hsla(200, 100%, 100%, 0.7);

  --blob1: #4eaef7;
  --blob2: #2549a8;
  --blob3: #be0081;
  --blob4: #eec3fd;
  --blob5: #00fff8;
  --blobOpacity: 0.5;

  --colorDark2soft: rgba(49, 81, 121, 0.39);

  --fontSizeHeading: 24px;
  --fontSizeHeading-sm: 20px;
  --fontSizeText: 18px;
  --fontSizeText-sm: 14px;

  --speed: 500ms;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Freude", Fallback, sans-serif !important;

  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: none;
  background-size: cover;
  overflow-y: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: black;
  background: var(--colorLight1);
}

p {
  margin-bottom: 0 !important;
  font-family: "Nunito", sans-serif;
}

.nun {
  font-family: "Nunito", sans-serif;
}

.ant-cascader-menu-item-content {
  font-family: "Nunito", sans-serif;

}
.fre {
  font-family: "Freude", Fallback, sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7f4fe;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colorDark1);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorDark2);
}

.svg-blob1 {
  background-color: var(--blob4);
  border-top-left-radius: 5rem;
  border-top-right-radius: 28rem;
  border-bottom-right-radius: 8rem;
  border-bottom-left-radius: 29rem;
  opacity: calc(0.6 * var(--blobOpacity));
  transform: rotate(-30deg);

  z-index: -10;
  position: absolute;
  width: 32em;
  left: 42%;
  top: 2%;
  height: 50%;
}

.svg-blob2 {
  border-top-left-radius: 12rem;
  border-top-right-radius: 12rem;
  border-bottom-right-radius: 18rem;
  border-bottom-left-radius: 19rem;
  background-color: var(--blob3);
  opacity: calc(0.6 * var(--blobOpacity));

  z-index: -12;
  transform: rotate(-30deg);
  position: absolute;
  width: 35em;
  left: 42%;
  top: 35%;
  height: 28rem;
}
.svg-blob3 {
  border-top-left-radius: 12rem;
  border-top-right-radius: 12rem;
  border-bottom-right-radius: 18rem;
  border-bottom-left-radius: 19rem;
  background-color: var(--blob2);
  position: absolute;
  transform: rotate(-30deg);
  opacity: calc(0.9 * var(--blobOpacity));

  z-index: -18;

  width: 30em;
  left: 25%;
  top: 46%;
  height: 28rem;
}
.svg-blob4 {
  border-top-left-radius: 15rem;
  border-top-right-radius: 8rem;
  border-bottom-right-radius: 8rem;
  border-bottom-left-radius: 9rem;
  z-index: -9;
  opacity: calc(0.8 * var(--blobOpacity));

  background-color: var(--blob1);
  position: absolute;
  width: 35em;
  left: 15%;
  top: 10%;
  height: 50%;
}
.svg-blob5 {
  border-top-left-radius: 15rem;
  border-top-right-radius: 8rem;
  border-bottom-right-radius: 8rem;
  border-bottom-left-radius: 9rem;
  z-index: -9;
  opacity: calc(0.7 * var(--blobOpacity));

  background-color: var(--blob5);
  position: absolute;
  width: 25em;
  left: 30%;
  top: 40%;
  height: 30%;
}
.scale-effect {
  animation: crescendo 60s alternate infinite ease-in;
}

@keyframes crescendo {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}

.rotate-effect {
  animation: rotate 80s linear infinite;
}
.rotate-effect-slow {
  animation: rotate 500s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.blobs {
  position: absolute;
  display: flex;
  z-index: -10;

  background-position: center;

  filter: blur(100px);
  -webkit-filter: blur(100px) !important;

  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100.8vw;
  height: 100vh;
  /* display: grid; */
  /* grid-template-columns: 5.2% 94%; */


  /* grid-template-rows: 8% 90%;  */
  /* grid-template-rows: 4rem auto 45px;
   grid-template-columns: 16rem auto;

  grid-template-areas:
    "top-bar"
    "side-nav-bar content"; */
}

.logo-bar {
  /* grid-area: logo; */

  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: var(--menuColor);
  z-index: 100;

}
.top-bar {

  /* grid-area: top-bar;
  grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 3; */
  background-color: var(--menuColor);
}
.side-nav-bar {
  /* grid-area: side-nav-bar;
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2; */
  z-index: 0;

}
.sidebar-container {
  background-color: var(--menuColor);

}

.content {
  /* grid-area: content;
  grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3; */
  border-radius: 1em;
  border-top-left-radius: 2px;
  box-shadow: 4px 4px 17px #9898986e, -4px -4px 17px #ffffff65;
  overflow: auto;
}

.loginbutton {
  right: 2%;
  top: 2.5%;
  position: fixed;
}
.profile-pic {
  transform: scale(1.15);
}

.profile-pic-cropper:hover {
  transition: transform 0.7s;
  transform: scale(1.05);
}
.photo {
  cursor: pointer;
}
.logo {
  font-size: 32px;
  background: linear-gradient(
    270deg,
    var(--colorLight2),
    var(--colorLight1),
    var(--colorDark1)
  );
  background-size: 400% 400%;

  -webkit-animation: logo 17s ease infinite;
  -moz-animation: logo 17s ease infinite;
  animation: logo 17s ease infinite;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.photo {
  height: 5em;
  padding-left: 10px;
  padding-top: 10px;
}

#logo {
  padding-top: 30px;
  padding-left: 5px;
  font-size: 30px;
}

.hamburger-mobile-sidebar {
  padding-left: 130px;
  padding-top: 10px;
}

.dash-title {
  display: flex;
}

.heading {
  font-size: var(--fontSizeHeading);
}
.heading2 {
  text-decoration: underline;
  font-size: var(--fontSizeHeading-sm);
}
.dash-wrapper {
  display: flex;
  border-radius: 1em;

  gap: 2em;
  justify-content: center;
  padding: 6em;
  flex-direction: row;
}

.dash-title {
  justify-content: center;
}

.note-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 8;
}
.stat-holder {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}

.dash-stat {
  padding: 0.25em;

  min-width: 12em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: #ffffff71;

  box-shadow: 3px 3px 17px #9898986e, -3px -3px 17px #ffffff65;
}

.dash-graph-holder {
  display: flex;
  box-shadow: 3px 3px 17px #9898986e, -3px -3px 17px #ffffff65;
  background-color: #ffffff2c;
  text-align: center;
  margin: 1em 3em;
  border-radius: 1em;
  padding: 1em;
}

.graph-stat-num {
  font-size: var(--fontSizeHeading);
}
.graph-stats-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  gap: 0.5em;
}
.graph-stat {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 17px #9898986e, -3px -3px 17px #ffffff65;
  background-color: #ffffff2c;
  border-radius: 0.5em;
  background-color: #ffffff94;
}
.dash-notes {
  gap: 1em;

  padding: 1em;
  width: 20em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: #ffffff2c;
  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;
}

.dash-ideas {
  position: relative;

  padding: 1em;
  height: 50%;
  width: 13em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;

  text-align: center;
  background-color: #ffffff94;
  box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
}
.dash-ideas-list-item {
  padding: 5px;
}
.dash-problems {
  position: relative;

  padding-top: 0.5em;
  height: 50%;
  width: 15em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  background-color: #ffffff94;
  box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
  overflow: hidden;
}
.dash-problems-list-item {
  padding-top: 5px;
}
.dash-news {
  padding: 1em;
  width: 20em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  background-color: #ffffff2c;
  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;
}
.dash-community {
  padding: 1em;
  width: 20em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  background-color: #ffffff2c;
  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;
}

.problem-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.solution-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 2em;
}
.implementation-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.help-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.solution-button {
  position: relative;

  padding: 1em;
  height: 100%;
  width: 13em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;

  text-align: center;
  background-color: #ffffff94;
  box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;

  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  top: 50%;
  align-items: center;
}

.back-of-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  gap: 2em;
}

.card-modal {
  position: absolute;

  background: #ffffffd7;
  padding: 0px;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.hamburger {
  left: 90%;
  z-index: 9;
  top: 0;
  right: 0;
}

.hamburger-react {
  z-index: 9;
}


.card__image {
  
  z-index: 0;
}
.photo_credit {
 
  font-size: 10px;
  z-index: 1;

  text-align: center;
}
.text-hover {
  display: inline-flex;
  flex-direction: row;
  border-radius: 2em;
  background: var(--colorLight1);
  box-shadow: inset 7px 7px 14px #b5b5b5, inset -7px -7px 14px #ffffff;
}

.dice {
  display: none;
}

.text-hover:hover + .dice {
  display: inline-block;
}

.card__title:first-letter {
  text-transform: capitalize;
}

.card__title {
  font-size: var(--fontSizeHeading-sm);
  text-shadow: 2px 2px 1px rgba(55, 94, 138, 0.219);
  padding-top: 0.4em;
  padding-left: 0.6em;
  padding-right: 0.6em;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  display: inline-block;
}

.card__title:hover {
  transition: transform 0.9s 0s ease-in-out;
  transition: 0.9s;

  background: linear-gradient(
    to right,
    black 0%,
    var(--colorDark2) 33%,
    var(--colorDark1) 66%,
    var(--colorLight1) 100%
  );

  background-size: 400% 400%;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  -webkit-animation: logotext 4s ease infinite;
  -moz-animation: logotext 4s ease infinite;
  animation: logotext 4s ease infinite;
}

@-webkit-keyframes logotext {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes logotext {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes logotext {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.card__description {
  padding: 0 1em;
}

.related-word:first-letter {
  text-transform: capitalize;
}

.related-word {
  color: var(--colorDark1);
}

.sim-words {
  position: absolute;
  padding: 0.2em;
  width: 10em;
  margin: auto;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  transition: transform 200ms ease-in;
  text-align: center;
  background-color: #ffffff94;
  box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
  margin-top: 1em;
  margin-bottom: 0.1em;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.simWordMessage {
  text-decoration: underline;
}
.simWordMessage2 {
  font-size: var(--fontSizeHeading-sm);
  font-weight: bolder;
}

.card__btn {
  color: black;
  border-radius: 3em;
  cursor: pointer;
  background: linear-gradient(145deg, #f8f8f8, #e4c2df);
  box-shadow: 5px 5px 13px #c5a8c1, -3px -3px 11px #ffffff;
  height: 60px;
  font-size: var(--fontSizeHeading-sm);
}
.card__btn_next {
  color: black;
  border-radius: 3em;
  cursor: pointer;
  background: linear-gradient(145deg, #ffffff, var(--colorDark1));
  box-shadow: 5px 5px 13px var(--colorDark1), -3px -3px 11px #ffffff;
  font-size: var(--fontSizeHeading-sm);
}
.card__btn_prev {
  color: black;
  border-radius: 3em;
  cursor: pointer;
  background: linear-gradient(145deg, #f8f8f8, var(--colorLight1));
  box-shadow: 2px 2px 12px var(--colorLight2), -3px -3px 11px #ffffff;
  height: 60px;
  font-size: var(--fontSizeHeading-sm);
}
.notes-btn-sm {
  color: black;
  border-radius: 3em;
  cursor: pointer;
  background: linear-gradient(145deg, #f8f8f8, #e4c2df);
  box-shadow: 5px 5px 13px #c5a8c1, -3px -3px 11px #ffffff;
  position: relative;
  height: 32px !important;
}

.notes-btn-sm-selected {
  background: linear-gradient(145deg, #e4c2df, #b25cc9) !important;
}
.card__btn:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 3em;
  z-index: -1;
  opacity: 0;
  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  animation: animate 20s linear infinite;
}

.rainbow-effect {
  border-radius: 3em;
  transition: background 200ms ease-in, color 200ms ease-in;
  position: relative;
}

.rainbow-effect:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
  z-index: -1;
  opacity: 0;
  filter: blur(7px);
  background: linear-gradient(
    45deg,
    #732c86,
    #c021f8,
    #b25cc9,
    #d29fdf,
    #eec3fd,
    #f8e6fe,
    var(--colorPop),
    #95cdf8,
    #4eaef7,
    rgb(59, 111, 243),
    #2549a5
  );
  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  animation: rainbow 20s linear infinite;
}
.rainbow-effect:hover:before {
  opacity: 1;
}
.rainbow-effect:hover:active {
  background: none;
}
.rainbow-effect:hover:active:before {
  filter: blur(2px);
}
@keyframes rainbow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.container-style {
  /* background-color: #b6defcfb !important; e7f4fe */
  /* background-color: linear; */
  background: linear-gradient(135deg, #e7f4fef3, #b6defc);
}

.blue-card {
  -webkit-box-shadow: 0 0 20px hsla(224, 64%, 40%, 1);
  -moz-box-shadow: 0 0 20px hsla(224, 64%, 40%, 1);
  box-shadow: 0 0 20px hsla(224, 64%, 40%, 1);

  background: #4eaef76e;
}
.pink-card {
  -webkit-box-shadow: 0 0 20px hsla(319, 100%, 37%, 1);
  -moz-box-shadow: 0 0 20px hsla(319, 100%, 37%, 1);
  box-shadow: 0 0 20px hsla(319, 100%, 37%, 1);

  background: #eec3fd9e;
}

.green-card {
  -webkit-box-shadow: 0 0 20px #15803d;
  -moz-box-shadow: 0 0 20px #15803d;
  box-shadow: 0 0 20px #15803d;
  background: #4ade806e;
}
.orange-card {
  -webkit-box-shadow: 0 0 20px #ea580c;
  -moz-box-shadow: 0 0 20px #ea580c;
  box-shadow: 0 0 20px #ea580c;
  background: #fb923c7e;
}
.blank-card {
  -webkit-box-shadow: 0 0 20px #ffffff;
  -moz-box-shadow: 0 0 20px #ffffff;
  box-shadow: 0 0 20px #ffffff;
  background: #cbd5e17e;
}
.card:hover {
  transition: transform 2.5s 0s ease-in-out;
  transform: scale(1.001);
  transition: box-shadow 500ms;
  box-shadow: 14px 14px 28px #989898, -14px -14px 28px #ffffff;
}

.card__btn:hover {
  border: none;
}

.sentence-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.sentence-wrapper {
  padding: 2em;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 30px;

  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sentence_word {
  color: var(--colorLight2);
  text-decoration: underline;
  cursor: pointer;
}
.sentence_word2 {
  color: var(--colorDark2);
  text-decoration: underline;
  cursor: pointer;
}

.sentence_word:first-letter {
  text-transform: capitalize;
}
.sentence_word2:first-letter {
  text-transform: capitalize;
}

.TBD-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.notepad-container {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  width: 25%;
  height: 50vh;
  top: 0;
  right: 0%;
  margin-top: 48vh;
  z-index: 1000;
}
@media screen and (min-width: 480px) {
  body {
    overflow: hidden;
  }
  /* .sidebar-container {
    display: flex;
    box-shadow: 3px 3px 16px var(--colorDark1),
      -3px -3px 16px var(--colorLight1);
  } */

  .popup-box {
    position: fixed;
    width: 100%;
    height: 30%;
    top: 0;
    left: 0%;
    z-index: 2000;
    padding-right: 1.5em;
    margin: 1em;
    margin-top: 40% !important;
  }
  .box {
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    z-index: 700;
    text-align: center;

    padding: 10px;
    border-radius: 2em;
    padding: 20px;
    overflow: auto;
    box-shadow: 5px 5px 17px #989898, -5px -5px 17px #ffffff;
  }
  .save_button {
    padding: 2px 5px 2px 5px;
    height: 3em;

    width: 5em;
    left: 38%;
  }

  .saved-message {
    position: fixed;
    left: 65%;
    color: rgba(0, 115, 255, 0.377);
  }
}
@media screen and (min-width: 768px) {
  .button-holder {
    position: fixed;

    top: 91%;
    left: 94%;
  }
  .notepad-button {
    box-shadow: 5px 5px 11px #b3b3b36e, -5px -5px 5px #ece4eb6e;
  }

  .notepad-button:hover {
    transition: transform 200ms ease-in-out;
    transform: scale(1.1);
  }

  .popup-box {
    position: fixed;
    width: 40%;
    height: 50vh;
    top: 0%;
    left: 60%;
    z-index: 2;
    margin-right: 0.5em;

    margin-top: calc(100vh - 65vh - 20px) !important;
  }
  .box {
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;

    z-index: 7;
    text-align: center;

    padding: 10px;

    border-radius: 2em;

    overflow: auto;
    box-shadow: 5px 5px 17px #989898, -5px -5px 17px #ffffff;
  }
  .save_button {
    padding: 2px 5px 2px 5px;
    height: 3em;

    width: 5em;
    left: 38%;
  }

  .saved-message {
    position: fixed;
    left: 90%;
    color: rgba(0, 115, 255, 0.377);
  }
}
.note-modal {
  position: fixed;

  background: #00000033;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.save-wrapper {
  display: flex;
  flex-direction: row;
}

.saved-message-problem {
  position: fixed;
  left: 60%;
  color: rgba(167, 203, 247, 0.377);
}

.sidebar-item-selected {
  background-color: rgba(255, 255, 255, 0.377);

  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: 350ms;
  transform: scale(0.99);
  background: linear-gradient(145deg, #ffffff8a, #cacaca79);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.sidebar-item-selected:hover {
  transition: 350ms;
  transform: scale(1.01);
}



.textarea-box {
  /* background: rgb(243, 243, 243); */
  box-shadow: inset 2px 2px 4px #c2c2c2, inset -2px -2px 4px #d6d6d69f;
  border: none;
  padding: 10px;
  /* width: 40em; */
  border-radius: 0.7em;
}
.toggles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-label {
  z-index: 4;
  color: black;
  padding-left: 1em;
}
.react-toggle {
  touch-action: pan-x;
  z-index: 5;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  z-index: 5;

  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  z-index: 5;

  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--colorDark1);
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #4eaef775;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 5;

  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  z-index: 5;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: var(--colorDark1);
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}

.ai-output-box {
  position: relative;

  padding: 1em;
  height: 100%;
  width: 30em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 2px 2px 7px var(--colorLight3), -2px -2px 7px var(--colorLight1);
  white-space: pre-line;
}

.ant-select-selector {
  border-radius: 16px !important;
  box-shadow: 4px 4px 7px #989898, -1px -1px 7px var(--colorLight1);
}
.ant-cascader-menu {
  border-radius: 20px !important;
}
.ant-select-dropdown {
  border-radius: 15px !important;
}

@media screen and (min-width: 768px) {
  .sidebar-container {
    /* -webkit-box-shadow: 10px 0px 20px -2px #4eaef77e;
-moz-box-shadow: 10px 0px 20px -2px #4eaef77e;
box-shadow: 10px 0px 20px -2px #4eaef77e; */
    /* box-shadow: 10px 0 5px -2px #888; */

    -webkit-box-shadow: 10px 0px 20px -2px var(--colorLight1);
    -moz-box-shadow: 10px 0px 20px -2px var(--colorLight1);
    box-shadow: 4px 8px 20px -2px var(--colorLight1);
  }
  /* .sidebar-container:hover {
    width: 8rem;
    transition: width 0.4s;
  } */

  .sidebar-container:hover .sidebar-text {
    display: inline-block;
  }
  .sidebar-container:hover .side-icon {
    font-size: 1.5rem !important;
    transition: all 0.3s ease-in-out;
  }
  .sidebar-unit-container {
    color: black;
  }
  .sidebar-unit-container:hover {
    color: rgb(255, 255, 255) !important;
  }
  .sidebar-unit-container:active {
    color: rgb(138, 138, 138) !important;
  }
  /* .side-icon {
    margin-left: 0.8rem;
    font-size: 1.5rem !important;
  } */

  .sidebar-text {
    display: none;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }

  .fade-effect {
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
    animation: fadeIn 4s;
  }

  .fade-effect-quick {
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
  }

  .fade-effect-fast {
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }

  .fade-effect-turbo {
    -webkit-animation: fadeIn 0.2s;
    -moz-animation: fadeIn 0.2s;
    -o-animation: fadeIn 0.2s;
    -ms-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s;
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.grow-effect {
  -webkit-animation:  growIn 0.2s;
  -moz-animation:  growIn 0.2s;
  -o-animation:  growIn 0.2s;
  -ms-animation: growIn 0.2s;
  animation: growIn 0.9s;
}
@keyframes growIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;

  }
}

@-moz-keyframes growIn {
  0% {
    transform:  scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;

  }
}

@-webkit-keyframes growIn {
  0% {
    transform:  scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;

  }
}

@-o-keyframes growIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;

  }
}

@-ms-keyframes growIn {
  0% {
    transform:  scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;

  }
}



.digital-timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .digital-timer-container {
    flex-direction: row;
    max-width: 1140px;
  }
}

.timer-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 250px;
}

@media (min-width: 576px) {
  .timer-display-container {
    width: 450px;
    height: 320px;
  }
}

@media screen and (min-width: 768px) {
  .timer-display-container {
    width: 600px;
    height: 450px;
  }
}

@media (min-width: 992px) {
  .timer-display-container {
    width: 600px;
    height: 600px;
  }
}

.elapsed-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

@media (min-width: 576px) {
  .elapsed-time-container {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .elapsed-time-container {
    width: 200px;
    height: 200px;
  }
}

.elapsed-time {
  color: var(--colorDark2);
  font-size: var(--fontSizeHeading);
  font-weight: bold;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .elapsed-time {
    font-size: 30px;
  }
}

.timer-state {
  color: #1e293b;
  font-size: var(--fontSizeHeading-sm);
  font-weight: bold;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .timer-state {
    font-size: var(--fontSizeHeading);
  }
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 2rem;
}

.timer-controller-container {
  display: flex;
  align-items: center;
}

.timer-controller-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 16px;
  margin-left: 16px;
  padding: 0px;
  cursor: pointer;
  outline: none;
}

.timer-controller-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media (min-width: 576px) {
  .timer-controller-icon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }
}

.timer-controller-label {
  color: #1e293b;
  font-size: var(--fontSizeHeading-sm);
  font-weight: 500;
}

@media (min-width: 576px) {
  .timer-controller-label {
    font-size: var(--fontSizeHeading-sm);
  }
}

.timer-limit-controller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.limit-label {
  color: #1e293b;
  font-size: var(--fontSizeText);
  font-weight: 500;
}

.timer-limit-controller {
  display: flex;
  align-items: center;
}

.limit-controller-button {
  color: #1e293b;
  background-color: transparent;
  font-size: 30px;
  font-weight: 500;
  border: none;
  margin: 8px;
  cursor: pointer;
  outline: none;
}

.limit-label-and-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.limit-value {
  text-align: center;
  color: #1e293b;
  background-image: linear-gradient(
    to right,
    var(--colorDark1),
    var(--colorLight1)
  );
  font-size: var(--fontSizeHeading);
  font-weight: 500;
  width: 100px;
  border-radius: 8px;
  margin: 0px;
  padding: 8px;
}

.fourohfour-image {
  width: 70%;
  height: 400px;
  background: linear-gradient(90deg, #eec3fdb7, #d662bf94, #4eaef77a),
    url("https://images.unsplash.com/photo-1596744223084-86a7c1cb68cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2em;
}

.profile-pic-page-holder {
  width: 5rem;
  height: 5rem;
  border: #00000073 solid 2px;
}

.icon-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg {
  width: 20px;
  height: 20px;
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 210px;
  transform: translateX(-45%);
  /* background-color: rgba(255, 255, 255, 0.94);
  box-shadow: 14px 14px 28px #989898, -14px -14px 28px #ffffff; */
  z-index: 1000;
  border-radius: 2em;
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 3em;
  transition: background var(--speed);
  padding: 0.5rem;
  margin: 0.2rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.loader {
  width: 44px;
  height: 34px;
  border-radius: 50%;
  position: relative;
  background: var(--colorLight3);

 box-shadow: 0px 0px 20px 4px var(--colorLight3); 
  -webkit-box-shadow: 0px 0px 20px 4px var(--colorLight3);
  -moz-box-shadow: 0px 0px 20px 4px var(--colorLight3); 
  animation: spin 3s linear infinite;
  z-index: 1000;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 24px;
  height: 44px;
  border-radius: 50%;
  background: var(--colorDark1);
  box-shadow: 0px 0px 10px 2px var(--colorDark1);
  -webkit-box-shadow: 0px 0px 10px 2px var(--colorDark1);
  -moz-box-shadow: 0px 0px 10px 2px var(--colorDark1);
  animation: slide 2s infinite linear alternate;
  opacity: 0.7;
}
.loader:after {
  animation: slide2 2s infinite linear alternate;
  opacity: 0.6;
  width: 14px;
  height: 24px;
  background: var(--colorLight1);
  box-shadow: 0px 0px 10px 2px var(--colorLight1);
  -webkit-box-shadow: 0px 0px 10px 2px var(--colorLight1);
  -moz-box-shadow: 0px 0px 10px 2px var(--colorLight1);
}
@keyframes slide {
  0%,
  20% {
    transform: translate(0, 0);
  }
  80%,
  100% {
    transform: translate(15px, 10px);
  }
}
@keyframes slide2 {
  0%,
  20% {
    transform: translate(0, 0);
  }
  80%,
  100% {
    transform: translate(-10px, -10px);
  }
}

.loader-full {
  width: 88px;
  height: 70px;
  border-radius: 50%;
  position: relative !important;

  background: var(--colorLight3);

 box-shadow: 0px 0px 20px 4px var(--colorLight3); 
  -webkit-box-shadow: 0px 0px 20px 4px var(--colorLight3);
  -moz-box-shadow: 0px 0px 20px 4px var(--colorLight3); 
  animation: spin 3s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-full:before,
.loader-full:after {
  content: "";
  position: absolute !important;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 88px;
  border-radius: 50%;
  background: var(--colorDark1);
  box-shadow: 0px 0px 20px 4px var(--colorDark1);
  -webkit-box-shadow: 0px 0px 20px 4px var(--colorDark1);
  -moz-box-shadow: 0px 0px 20px 4px var(--colorDark1);
  animation: slide-full 2s infinite linear alternate;
}
.loader-full:after {
  animation: slide-full2 2s infinite linear alternate;
  opacity: 0.6;
  width: 28px;
  height: 48px;
  background: var(--colorLight1);
  box-shadow: 0px 0px 20px 4px var(--colorLight1);
  -webkit-box-shadow: 0px 0px 20px 4px var(--colorLight1);
  -moz-box-shadow: 0px 0px 20px 4px var(--colorLight1);
}
@keyframes slide-full {
  0%,
  20% {
    transform: translate(0, 0);
  }
  80%,
  100% {
    transform: translate(30px, 20px);
  }
}
@keyframes slide-full2 {
  0%,
  20% {
    transform: translate(0, 0);
  }
  80%,
  100% {
    transform: translate(-20px, -20px);
  }
}

.loader-text {
  font-size: var(--fontSizeHeading-sm);
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--colorDark1);
  animation: smokeOut 2s ease-in-out infinite alternate;
  text-shadow: 2px 3px 6px white;
  z-index: 120;
}
.loader-text:before {
  content: "Loading";
}

@keyframes smokeOut {
  100% {
    opacity: 0.9;
    filter: blur(1px);
    letter-spacing: 4px;
  }
}

.help-boxes-div {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.help-boxes-div-container {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.help-box {
  border-radius: 3rem;
  width: 13em;
  height: 10em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;
}
.help-box:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.help-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 3em;
  box-shadow: 0px 0px 10px 2px var(--colorDark1);
  -webkit-box-shadow: 0px 0px 10px 3px var(--colorDark1);
  -moz-box-shadow: 0px 0px 10px 2px var(--colorDark1);
  width: 40px;
  height: 40px;
}
.help-circle-alt {
  background-color: var(--colorLight1) !important;
  box-shadow: 0px 0px 10px 2px var(--colorLight1) !important;
  -webkit-box-shadow: 0px 0px 10px 3px var(--colorLight1) !important;
  -moz-box-shadow: 0px 0px 10px 2px var(--colorLight1) !important;
}

.help-icons {
  font-size: var(--fontSizeHeading);
  color: var(--colorDark2);
  padding: 1px;
  line-height: inherit;
}

.help-icons-alt {
  color: var(--colorLight2) !important;
}
.help-header {
  font-size: var(--fontSizeHeading);
}
.help-header-alt {
}
.help-text {
  font-size: var(--fontSizeText-sm);
}

.accordion {
  border-radius: 2em;
  width: 95%;
  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;
  margin-bottom: 1em;
  margin-top: 1em;
}
.accordionIcon {
  position: absolute;
  left: 20px;
}

.accordionTitle {
  border-radius: 3em;
  width: 100%;
  box-shadow: 3px 3px 17px #9898986e, -3px -3px 17px #ffffff65;
}

.accordionTitle:hover {
  transition: all 0.2s ease-in-out;

  transform: scale(1.01);
  background: rgba(252, 241, 255, 0.764) !important;
}

.accordionTitle:active {
  background: rgba(246, 212, 255, 0.964) !important;
}

.accordion .accordionItem.active .accordionTitle {
  background: rgba(252, 241, 255, 0.764) !important;
}
.accordion .accordionTitle {
  padding: 4px;

  cursor: pointer;
}

.accordion .accordionTitle h3 {
  font-size: var(--fontSizeHeading-sm);
  font-weight: bold;
  margin: 0;
}

.accordion .accordionSubtitle {
  font-size: var(--fontSizeText-sm);

  margin: 1px 0 0 0;
  padding: 0;
  font-style: italic;
  color: #3e3e3e;
}

.accordion .accordionTitle span {
  float: right;
  display: inline-block;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 30px;

  text-align: center;
}

.accordion .accordionItem .accordionContent {
  padding: 0 16px;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  transform: scaleY(0);
  height: 0;
}

.accordion .accordionItem .accordionContent p {
  margin: 0;
}

.accordion .accordionItem.active .accordionContent {
  transform: scaleY(1);
  height: auto;
  padding: 16px;
}

.accordion .accordionItem.active .accordionTitle h3 {
  color: var(--colorDark1);
}

.normal-box {
  padding: 4px;
  border-radius: 1em;
  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;
}
.glass-box {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.74);
  padding: 4px;
}
.normal-box-soft {
  background: rgba(255, 255, 255, 0.364);
  padding: 4px;
  border-radius: 1em;
  box-shadow: 5px 5px 17px #9898986e, -5px -5px 17px #ffffff65;
}

.ii-shadow {
  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 0;
}
.m0-auto {
  margin: 0 auto;
}

.bulb-glow {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
    0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 4em;
  box-shadow: 0 0 10px var(--colorLight1);
  border: 2px solid "#df7bf7";
  z-index: 100;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10px;
}

.text {
  color: #aaa;
}

.value {
  font-size: var(--fontSizeText);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--colorLight2);
}

.timer-menu {
  z-index: 2500 !important;
  width: 16em;
  position: absolute;
  top: 62%;
  left: 5em;
}

.note-grid {
  display: grid;
  grid-template-columns: 370px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

}
.note-grid-1 {
  grid-area: 2 / 1 / 3 / 2;
}
.note-grid-2 {
  grid-area: 2 / 2 / 3 / 3;
}

.ql-toolbar.ql-snow {
  width: 100%;
  display: inline-flex;
  align-items: center;
  border: none !important;
}
.ql-container.ql-snow {
  border-top: 1px solid #ccc !important;
  height: 25em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  box-shadow: inset 4px 4px 4px #c2c2c2, inset -4px -4px 4px #d6d6d69f;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  top: 50%;
  width: 90%;
  border-radius: 2em;
}

.blue {
  background: var(--colorDark1);
  background: linear-gradient(
    45deg,
    var(--colorDark2) 0%,
    var(--colorDark1) 25%,
    var(--colorDark1) 31%,
    var(--colorPop) 100%
  );
}
.pink-range {
  background: var(--colorDark1);
  background: linear-gradient(
    45deg,
    var(--colorLight2) 0%,
    var(--colorLight3) 25%,
    var(--colorLight1) 81%,
    var(--colorLight1) 100%
  );
}

.color-range {
  background: var(--colorDark1);
  background: linear-gradient(
    45deg,
    white 0%,
    #ffffff 25%,
    var(--colorLight1) 60%,
    var(--colorPop) 100%
  );
}

.opacity-range {
  background: var(--colorDark1);
  background: linear-gradient(90deg, #ffffff1e 0%, white 100%);
}

.opacity-range-dark {
  background: var(--colorDark1);
  background: linear-gradient(90deg, #ffffff1e 0%, hsla(200, 0%, 60%, 1) 100%);
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;

  height: 22px;
  border-radius: 3em;
  box-shadow: inset 2px 2px 4px #00000080, inset -2px -2px 4px #ffffffc0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: var(--colorDark1);
  background: linear-gradient(
    45deg,
    var(--colorDark2) 0%,
    var(--colorDark1) 25%,
    var(--colorLight1) 61%,
    var(--colorLight2) 100%
  );

  height: 22px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 2px 2px 4px #00000080, -2px -2px 4px #ffffffc0;
  border-radius: 60%;
  height: 30px;
  width: 30px;
  max-width: 80px;
  position: relative;
  background: pink;
  bottom: 5px;

  background: linear-gradient(
    270deg,
    white 0%,
    white 5%,
    var(--colorLight1) 60%
  );
  background-image: radial-gradient(
    rgb(255, 255, 255),
    rgb(228, 228, 228),
    rgba(70, 70, 70, 0.473)
  );
  border-color: rgb(190, 147, 147);
  cursor: -webkit-grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

.img-button {
  display: none;
}

.image-cover-div:hover .img-button {
  display: block !important;
}

.dot {
  color: black;
  cursor: pointer;
  font-size: 36px;
  line-height: 1;
  margin: 0 15px;
  opacity: 0.4;
  text-shadow: none;
  transition: opacity 1s ease, text-shadow 1s ease;
  will-change: opacity, text-shadow;
}

.react-select__control {
  border-radius: 3em !important;
  background: linear-gradient(145deg, #ffffff, #ebebeb);
  box-shadow: 2px 2px 11px #bebebe, -2px -2px 11px #ffffff;
  border: none;
}
.darkBG {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100000;

  transform: translate(-50%, -50%);
}

.modal {
  width: 30em;
  height: 15em;
  background: rgba(255, 255, 255, 0.89);
  z-index: 100000;
  border-radius: 16px;
  padding: 1em;
}

.modalHeader {
  height: 50px;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3em;
  font-size: 18px;
  color: #ffffff;
  background: var(--colorDark1);
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
  width: 2em;
  height: 2em;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-2px, 4px);
}

.copyBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: var(--colorDark1);
  transition: all 0.25s ease;
}

.copyBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(82, 177, 245, 0.6);
  transform: translateY(-5px);
  background: var(--colorDark1);
}

.blue-gradient-text {
  background: linear-gradient(
    45deg,
    var(--colorDark2) 0%,
    var(--colorDark1) 35%,
    var(--colorDark1) 81%,
    var(--colorPop) 100%
  );
  /* background-size: 100% 400%; */

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}


.swipe {
  position: absolute;
}

/* .cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
} */

.card {
  /* position: relative; */
  background-color: #fff;

  /* transform: scale(.8) rotateX(0deg) rotateZ(5deg); */

  box-shadow: 10px 15px 30px 0px rgba(0,0,0,0.20);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}



.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: var(--colorLight3);
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}





@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

@keyframes diamond-out-hesitate {
  0% {
    clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
  }
  50% {
    clip-path: polygon(45% 50%, 50% 25%, 55% 50%, 50% 75%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
}

[transition-style="out:diamond:hesitate"] {
  animation: 1.5s cubic-bezier(.25, 1, .30, 1) diamond-out-hesitate both;
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:right"] {
  animation: 1.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}


@keyframes wipe-out-left {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 100% 0 0);
  }
}

[transition-style="out:wipe:left"] {
  animation: 0.5s cubic-bezier(.25, 1, .30, 1) wipe-out-left both;
}

@keyframes polygon-in-opposing-corners {
  from {
    clip-path: polygon(0 0, 50% 50%, 100% 100%, 50% 50%);
  }
  to {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}

[transition-style="in:polygon:opposing-corners"] {
  animation: 1.1s cubic-bezier(.25, 1, .30, 1) polygon-in-opposing-corners both;
}

@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}