/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "Sniglet";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Sniglet-Regular.ttf");
}

@font-face {
  font-family: "Freude";
  /* font-style: normal;
  font-weight: 400; */
  font-display: swap;
  src: url("/fonts/Freude.otf");
}

* {
  box-sizing: border-box;
  /* padding: 0;
    margin: 0; */
}

:root {
  /* --colorLight1: rgb(190, 242, 255);
  --colorLight2: rgb(129, 201, 235);
  --colorDark1: rgb(65, 168, 216);
  --colorDark2: rgb(49, 81, 121);
  --colorDark2soft: rgba(49, 81, 121, 0.39); */

  --colorPop: rgb(154, 236, 87);

  --colorLight2: #b25cc9;
  --colorLight1: #eec3fd;
  --colorDark1: #4eaef7;
  --colorDark2: #2549a5;
  --colorDark2soft: rgba(49, 81, 121, 0.39);

  /* --colorPop: rgb(154, 236, 87); */
}

/* @import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap"); */

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  /* font-family: sans-serif;
   */
  /* @import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap'); */
  /* font-family: "Sniglet"; */
  /* font-family: "Sniglet", Fallback, sans-serif !important; */
  font-family: "Freude", Fallback, sans-serif !important;

  /* @apply font-Sniglet; */
  z-index: 0;
  /* margin: 3em; */
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-attachment: fixed;
  /* background: rgb(214, 248, 184) no-repeat center center fixed; */
  background-repeat: no-repeat;
  /* background-image: url("/blob.png"); */

  /* background: linear-gradient(
    170deg,
    var(--colorLight1) 0%,
    var(--colorLight2) 35%,
    var(--colorDark1) 58%,
    var(--colorDark2) 100%
  ); */
  /* filter: blur(20px); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blobs {
  position: absolute;

  z-index: -10;
  /* The image used */
  background-image: url("/blob.png");
  background-position: center;

  /* Add the blur effect */
  filter: blur(100px);
  -webkit-filter: blur(100px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  /* display: flex; */
  /* grid-template-columns: repeat(auto-fit, minmax(12em, 16em)); */
  /* gap: 2em; */
  /* height: 100%; */
  /* width: 100vw; */
  /* height: 100vh; */
  /* justify-content: center; */
  /* flex-direction: row; */
  /* top: 50%; */
  /* display: grid; */
  /* grid-auto-rows: 1fr; */

  /* grid-template-columns: 6% 93%; */
  /* grid-template-rows: 10% 100%; */
  /* gap: 2px 9px; */
  /* grid-template-areas: */
  /* "logo top-bar" */
  /* "side-nav-bar content"; */

  width: 100vw;
  height: 100vh;
  display: grid;
  /* grid-auto-rows: 1fr; */

  grid-template-columns: 6% 93%;
  grid-template-rows: 10% 100%;
  /* gap: 2px 9px; */
  grid-template-areas:
    "logo top-bar"
    "side-nav-bar content";
}

.logo-bar {
  grid-area: logo;

  display: flex;
  flex-direction: row;
  /* height: 100%; */
}
.top-bar {
  grid-area: top-bar;
  /* display: flex; */
}
.side-nav-bar {
  grid-area: side-nav-bar;
}

.content {
  grid-area: content;
  border-radius: 1em;

  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;
}

.dark-toggle {
  position: fixed !important;
  right: 100px;
  top: 20px;
}
.loginbutton {
  right: 2%;
  top: 2.5%;
  position: fixed;
}
.profile-pic {
  width: 40px;
  height: 40px;
}
.profile-pic-cropper {
  right: 0.5%;
  top: 0.5%;
  width: 40px;
  height: 40px;
  position: fixed;
  overflow: hidden;
  border-radius: 50%;
  border: #000000 solid 2px;
  cursor: pointer;
}
.profile-pic-cropper:hover {
  transition: transform 0.7s;
  transform: scale(1.05);
}
.photo {
  cursor: pointer;
}
.logo {
  font-size: 32px;
  background: linear-gradient(
    270deg,
    var(--colorLight2),
    var(--colorLight1),
    var(--colorDark1)
  );
  background-size: 400% 400%;

  -webkit-animation: logo 17s ease infinite;
  -moz-animation: logo 17s ease infinite;
  animation: logo 17s ease infinite;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.photo {
  height: 5em;
  padding-left: 10px;
  padding-top: 10px;
}

#logo {
  padding-top: 30px;
  padding-left: 5px;

  font-size: 30px;
}

.hamburger-mobile-sidebar {
  /* postiion: sticky; */
  /* top: 2px; */
  /* left: 95%; */
  padding-left: 130px;
  padding-top: 10px;

  /* background-color: violet; */
}

.dash-title {
  display: flex;
}
.heading-top {
  /* text-decoration: underline; */
  color: var(--colorDark2);
  font-size: 30px;
  padding-bottom: 1em;
}
.heading {
  text-decoration: underline;
  color: var(--colorDark2);
  font-size: 25px;
  padding-bottom: 1em;
}
.heading2 {
  text-decoration: underline;
  color: var(--colorDark2);
  font-size: 20px;
  /* padding-bottom: 1em; */
}
.dash-wrapper {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(12em, 16em)); */
  border-radius: 1em;

  gap: 2em;
  justify-content: center;
  padding: 6em;
  flex-direction: row;
  /* top: 50%; */
  /* height: 40vw; */
  /* box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65; */
}

.dash-title {
  justify-content: center;
}

.note-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 8;
}
.dash-notes {
  /* position: relative; For positioning the pseudo-element */
  gap: 1em;

  padding: 1em;
  /* height: 100%; */
  width: 20em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* transition: transform 200ms ease-in; */
  text-align: center;
  background-color: #ffffff2c;
  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;
  /* overflow: hidden; */
  /* text-align: left; */
}

.dash-ideas {
  position: relative; /* For positioning the pseudo-element */

  padding: 1em;
  height: 50%;
  width: 13em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* transition: transform 200ms ease-in; */
  text-align: center;
  background-color: #ffffff94;
  box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
  /* overflow: hidden; */
  /* text-align: left; */
}
.dash-ideas-list-item {
  padding: 5px;
}
.dash-problems {
  position: relative; /* For positioning the pseudo-element */

  padding-top: 0.5em;
  height: 50%;
  width: 15em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* transition: transform 200ms ease-in; */
  text-align: center;
  align-items: center;

  background-color: #ffffff94;
  box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
  overflow: hidden;
  /* text-align: left; */
}
.dash-problems-list-item {
  padding-top: 5px;
  /* padding-left: 2px; */
}
.dash-news {
  /* position: relative; For positioning the pseudo-element */

  padding: 1em;
  /* height: 100%; */
  width: 20em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* transition: transform 200ms ease-in; */
  text-align: center;
  background-color: #ffffff2c;
  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;

  /* overflow: hidden; */
  /* text-align: left; */
}
.dash-community {
  /* position: relative; For positioning the pseudo-element */

  padding: 1em;
  /* height: 100%; */
  width: 20em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  /* transition: transform 200ms ease-in; */
  text-align: center;
  background-color: #ffffff2c;
  box-shadow: 9px 9px 17px #9898986e, -9px -9px 17px #ffffff65;

  /* overflow: hidden; */
  /* text-align: left; */
}

.problem-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  padding: 2em;
  gap: 2em;
}
.solution-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  padding: 2em;
  gap: 2em;
}
.implementation-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  padding: 2em;
  gap: 2em;
}
.help-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  padding: 2em;
  gap: 2em;
}
.solution-button {
  position: relative; /* For positioning the pseudo-element */

  padding: 1em;
  height: 100%;
  width: 13em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* transition: transform 200ms ease-in; */
  text-align: center;
  background-color: #ffffff94;
  box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
  /* overflow: hidden; */
  /* text-align: left; */

  cursor: pointer;
}

.buttons-div {
  display: flex;
  flex-direction: column;
}
.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* vertical-align: middle; */
  /* padding: 2em; */
}
.cards {
  display: flex;
  flex-wrap: wrap;

  /* grid-template-columns: repeat(auto-fit, minmax(12em, 16em)); */
  gap: 2em;
  justify-content: center;
  flex-direction: row;
  top: 50%;
  padding-top: 1em;
  align-items: center;
}

.back-of-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  gap: 2em;
  /* justify-content: space-evenly; */
}

.card-modal {
  /* background-color: black; */
  position: absolute;

  background: #ffffffd7;
  padding: 0px;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* border-radius: 3em; */
  /* transform: scale(0.9); */
  z-index: 3;
}
.card {
  /* position: relative; 
  
    padding: 1em;
    width: 20em;
    overflow: hidden;
    box-shadow: 0 2px 30px #e1e5eebb;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 200ms ease-in;
    text-align: center;
    background-color: #ffffff94;
    box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff; */
}

.hamburger {
  left: 90%;
  z-index: 9;
  /* margin: 10em; */
  /* float: right; */
  top: 0;
  right: 0;
}

.hamburger-react {
  z-index: 9;
}

.image_body {
  margin-top: 0.1em;
  /* height: 13em; */
  display: grid;

  /* display: flex; */
  /* justify-content: center;
    flex-direction: column; */
}
.card__image {
  border-radius: 3em;
  box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
  height: 12em;
  width: 100%;
  grid-column: 1;
  grid-row: 1;

  object-fit: cover;
  z-index: 0;
}
.photo_credit {
  grid-column: 1;
  grid-row: 1;
  /* top: 10%; */
  /* position: absolute; */
  font-size: 10px;
  /* top: 253px; */
  /* left: 59px; */
  z-index: 1;
  color: white;
  padding-top: 15.3em;
  /* margin-bottom: 0.5em; */
  text-align: center;
}
.pexels-link {
  color: rgb(152, 229, 235);
}
.text-hover {
  display: inline-flex;
  flex-direction: row;
  border-radius: 2em;
  background: var(--colorLight1);
  box-shadow: inset 7px 7px 14px #b5b5b5, inset -7px -7px 14px #ffffff;
  /* margin-bottom: 0.1em; */
}

.dice {
  display: none;
  /* position: absolute;
    padding-top: 15px;
    text-align: center;
    left: 90%; */
}

.text-hover:hover + .dice {
  display: inline-block;
}

.card__title:first-letter {
  text-transform: capitalize;
}

.card__title {
  /* position: absolute; */
  /* transform: translateY(-50%); */
  /* width: 100%; */
  /* text-shadow: 0 1px 0 var(--colorDark1), 0 2px 0 var(--colorDark1),
      0 3px 0 var(--colorDark1), 0 4px 0 var(--colorDark1),
      0 5px 0 var(--colorDark1), 0 6px 0 var(--colorDark1),
      0 7px 0 var(--colorDark1); */
  font-size: 1.5em;
  text-shadow: 2px 2px 1px rgba(55, 94, 138, 0.219);
  /* font-size: 2em; */
  padding-top: 0.4em;
  /* padding-bottom: 0.1em; */
  padding-left: 0.6em;
  padding-right: 0.6em;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;

  display: inline-block;
}

.card__title:hover {
  transition: transform 0.9s 0s ease-in-out;

  /* transform: scale(1.1); */
  transition: 0.9s;

  background: linear-gradient(
    to right,
    black 0%,
    var(--colorDark2) 33%,
    var(--colorDark1) 66%,
    var(--colorLight1) 100%
  );

  background-size: 400% 400%;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  -webkit-animation: logotext 4s ease infinite;
  -moz-animation: logotext 4s ease infinite;
  animation: logotext 4s ease infinite;
}

@-webkit-keyframes logotext {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes logotext {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes logotext {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.card__description {
  padding: 0 1em;
}

.related-word:first-letter {
  text-transform: capitalize;
}

.related-word {
  color: var(--colorDark1);
}

.sim-words {
  position: relative; /* For positioning the pseudo-element */

  padding: 0.2em;
  width: 10em;
  margin: auto;
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */

  /* transform: translate(-50%, -50%); */
  /* overflow: hidden; */
  /* box-shadow: 0 2px 30px #e1e5eebb; */
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  transition: transform 200ms ease-in;
  text-align: center;
  background-color: #ffffff94;
  box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
  margin-top: 1em;
  margin-bottom: 0.1em;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

/* .sim-words:hover < .card + .simWordMessage {
    display: block;
  } */

.simWordMessage {
  /* display: none;
     */
  text-decoration: underline;
}
.simWordMessage2 {
  /* display: none;
     */
  /* text-decoration: underline;
     */

  font-size: 2em;
  font-weight: bolder;
}
/* .simWordMessage:hover {
    display: inline-block;
  } */

.card__btn {
  /* border: 3px solid var(--colorDark1); */
  /* background: var(--colorLight1); */
  color: black;
  border-radius: 3em;
  /* transition: background 200ms ease-in, color 200ms ease-in; */
  cursor: pointer;
  background: linear-gradient(145deg, #f8f8f8, #e4c2df);
  box-shadow: 5px 5px 13px #c5a8c1, -3px -3px 11px #ffffff;
  position: relative;
  height: 60px;

  font-size: 18px;
}
.notes-btn-sm {
  /* border: 3px solid var(--colorDark1); */
  /* background: var(--colorLight1); */
  color: black;
  border-radius: 3em;
  /* transition: background 200ms ease-in, color 200ms ease-in; */
  cursor: pointer;
  background: linear-gradient(145deg, #f8f8f8, #e4c2df);
  box-shadow: 5px 5px 13px #c5a8c1, -3px -3px 11px #ffffff;
  position: relative;
  height: 32px !important;

  /* font-size: 18px; */
}

.notes-btn-sm-selected {
  background: linear-gradient(145deg, #e4c2df, #b25cc9) !important;
  /* box-shadow: inset 5px 5px 13px #c5a8c1, inset -3px -3px 11px #ffffff; */
}
.card__btn:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 3em;
  z-index: -1;
  opacity: 0;

  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  animation: animate 20s linear infinite;
}

.rainbow-effect {
  /* position: absolute; */
  /* height: 60px; */

  border-radius: 3em;
  transition: background 200ms ease-in, color 200ms ease-in;
  /* cursor: pointer; */

  position: relative;
}

.rainbow-effect:before {
  position: absolute;
  content: "";

  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  /* border-radius: 3em; */
  z-index: -1;
  opacity: 0;
  filter: blur(7px);
  background: linear-gradient(
    45deg,
    #732c86,
    #c021f8,
    #b25cc9,
    #d29fdf,
    #eec3fd,
    #f8e6fe,
    #95cdf8,
    #4eaef7,
    rgb(59, 111, 243),
    #2549a5
  );
  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  animation: rainbow 20s linear infinite;
}
.rainbow-effect:hover:before {
  opacity: 1;
}
.rainbow-effect:hover:active {
  background: none;
}
.rainbow-effect:hover:active:before {
  filter: blur(2px);
}
@keyframes rainbow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.plus-image {
  height: 30px;
}

.add-button {
  padding: 0.3em;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  height: 45px;
  text-align: center;
  width: 3em;
  align-items: center;
  /* margin: 0 auto; */

  /* height: 2em;
    width: 2em; */
  /* margin: 1em; */
  border: 3px solid var(--colorDark1);
  background: var(--colorLight1);
  color: #6b7b8e;
  border-radius: 3em;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.add-button:hover {
  -webkit-transition: transform 0.5s 0s ease;
  -moz-transition: transform 0.5s 0s ease;
  -o-transition: transform 0.5s 0s ease;
  transition: transform 0.5s 0s ease;
  background: var(--colorDark1);
  color: white;
  transform: scale(1.2);
}

.card:hover {
  transition: transform 2.5s 0s ease-in-out;

  transform: scale(1.001);

  transition: box-shadow 500ms;

  box-shadow: 14px 14px 28px #989898, -14px -14px 28px #ffffff;
  /* box-shadow: 0 2px 60px #e1e5eebb; */
}

.card__btn:hover {
  border: none;
  /* opacity: 0.9; */
  /* transition: transform 0.9s 0s ease; */

  /* background: var(--colorDark1); */
  /* color: #ffffff; */
  /* transform: scale(1.05); */
}

.sentence-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  padding: 2em;

  /* top: 50%; */
  /* margin: auto; */
}

.sentence-wrapper {
  padding-top: 10em;
  display: flex;
  flex-direction: row;
  text-align: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.sentence_word {
  color: var(--colorLight1);
  text-decoration: underline;

  cursor: pointer;
}
.sentence_word2 {
  color: var(--colorDark2);
  text-decoration: underline;

  cursor: pointer;
}

.sentence_word:first-letter {
  text-transform: capitalize;
}
.sentence_word2:first-letter {
  text-transform: capitalize;
}

.TBD-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* vertical-align: middle; */
  padding: 2em;

  /* top: 50%; */
  /* margin: auto; */
}

.notepad-container {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  /* background: #00000050; */
  width: 25%;
  height: 50vh;
  top: 0;
  right: 0%;
  margin-top: 48vh;
  z-index: 10;
}
@media screen and (min-width: 480px) {
  body {
    overflow: hidden;
  }
  .sidebardiv {
    display: flex;
    /* align-items: center; */
    /* overflow: visible; */
    /* animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    width: 100%;
    transition: width 0.6s; */
    box-shadow: 3px 3px 16px var(--colorDark1), -3px -3px 16px #fbbcfd;
  }
  .notepad-button {
    position: fixed;
    top: 1%;
    left: 87%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    background: linear-gradient(145deg, #f5eef8, var(--colorLight1));
    box-shadow: 5px 5px 11px #b3b3b3, -5px -5px 5px #ece4eb;
    height: 5em;
    width: 5em;
    font-size: 12px;
    align-items: center;
    text-align: center;
    border-radius: 3em;
    /* border: 4px outset var(--colorLight2); */
    /* float: right */
    z-index: 8;
  }

  .sideicon {
    margin-left: 0.5rem;
    font-size: 1.5rem !important;
  }
  .popup-box {
    position: fixed;
    /* background: #00000050; */
    width: 100%;
    height: 30%;
    top: 0;
    /* right: 0%; */
    left: 0%;
    z-index: 200;
    padding-right: 1.5em;
    /* margin-left: 1em; */
    margin: 1em;
    margin-top: 40% !important;

    /* margin-top: calc(100vh - 65vh - 20px); */
  }
  .box {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    /* margin-top: calc(100vh - 65vh - 20px); */
    z-index: 7;
    text-align: center;

    padding: 10px;
    background: #fff;
    border-radius: 2em;
    padding: 20px;
    /* border: 1px solid #999; */
    overflow: auto;
    box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
  }
  .save_button {
    padding: 2px 5px 2px 5px;
    height: 3em;

    width: 5em;
    left: 38%;
  }

  .saved-message {
    position: fixed;
    /* top: 20%; */
    left: 65%;
    color: rgba(0, 115, 255, 0.377);
  }
}
@media screen and (min-width: 768px) {
  .notepad-button {
    position: sticky;
    top: 50%;
    left: 92%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    /* background-color: var(--colorLight1);
     */
    border-radius: 130px;
    background: linear-gradient(145deg, #f5eef8, var(--colorLight1));
    box-shadow: 5px 5px 11px #b3b3b3, -5px -5px 5px #ece4eb;
    height: 5em;
    width: 5em;
    font-size: 12px;
    align-items: center;
    text-align: center;
    border-radius: 3em;
    /* border: 2px solid var(--colorDark1); */
    /* float: right */
    z-index: 8;
  }

  .notepad-button:hover {
    transition: transform 200ms ease-in-out;
    transform: scale(1.1);
  }

  .popup-box {
    position: fixed;
    /* background: #00000050; */
    width: 40%;
    height: 50vh;
    top: 0%;
    left: 60%;
    z-index: 2;
    margin-right: 0.5em;

    margin-top: calc(100vh - 65vh - 20px) !important;
  }
  .box {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    /* margin-top: calc(100vh - 65vh - 20px) !important;
     */
    /* margin-top: calc(100vh - 95vh - 20px) !important; */

    z-index: 7;
    text-align: center;

    padding: 10px;
    background: rgba(255, 255, 255, 0.993);
    border-radius: 2em;
    /* padding: 20px; */
    /* border: 1px solid #999; */
    overflow: auto;
    box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
  }
  .save_button {
    padding: 2px 5px 2px 5px;
    height: 3em;

    width: 5em;
    left: 38%;
  }

  .saved-message {
    position: fixed;
    left: 90%;
    color: rgba(0, 115, 255, 0.377);
  }
}
.note-modal {
  position: fixed;

  background: #00000033;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* z-index: 1; */
}

.close-icon {
  content: "x";
  /* cursor: pointer; */
  /* position: fixed; */
  /* right: calc(15% - 30px); */
  /* right: 0%; */

  /* top: calc(100vh - 65vh - 15px); */
  /* top: 0%; */

  /* background: #ededed; */
  /* width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 20px; */

  /* border: 1px solid #999; */
}
.save-wrapper {
  display: flex;
  flex-direction: row;
}

.saved-message-problem {
  position: fixed;
  left: 60%;
  color: rgba(167, 203, 247, 0.377);
}

.sidebar-item-selected {
  background-color: rgba(255, 255, 255, 0.377);
  /* color: white; */
  /* border-radius: 3em; */
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: 350ms;
  transform: scale(0.99);
  /* border-radius: 50px; */
  background: linear-gradient(145deg, #ffffff8a, #cacaca79);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.sidebar-item-selected:hover {
  /* background-color: rgba(255, 255, 255, 0.377); */
  /* color: white; */
  /* border-radius: 3em; */
  transition: 350ms;
  transform: scale(1.01);
  /* border-radius: 50px; */
  /* background: linear-gradient(145deg, #ffffff8a, #cacaca79); */
  /* box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff; */
}

textarea {
  background: rgb(243, 243, 243);
  box-shadow: inset 4px 4px 14px #b5b5b5, inset -4px -4px 14px #cee9f0;
  border: none;
}
.toggles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-label {
  z-index: 4;
  color: black;
  padding-left: 1em;
}
.react-toggle {
  touch-action: pan-x;
  z-index: 5;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  z-index: 5;

  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  z-index: 5;

  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--colorLight2);
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: var(--colorDark1);
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 5;

  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  z-index: 5;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: var(--colorDark1);
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}

.ai-output-box {
  position: relative; /* For positioning the pseudo-element */

  padding: 1em;
  height: 100%;
  width: 30em;
  box-shadow: 0 2px 30px #e1e5eebb;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* transition: transform 200ms ease-in; */
  text-align: center;
  background-color: #ffffff94;
  box-shadow: 9px 9px 17px #989898, -9px -9px 17px #ffffff;
  /* overflow: hidden; */
  /* text-align: left; */

  /* cursor: pointer; */
}

.ant-select-selector {
  border-radius: 16px !important;
  box-shadow: 4px 4px 7px #989898, -1px -1px 7px var(--colorLight1);
}
.ant-cascader-menu {
  border-radius: 20px !important;
}
.ant-select-dropdown {
  border-radius: 15px !important;
}

@media screen and (min-width: 768px) {
  .sidebardiv {
    display: flex;
    /* align-items: center; */
    overflow: visible;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    width: 3.5rem;
    transition: width 0.6s;
    box-shadow: 3px 3px 16px var(--colorDark1), -3px -3px 16px #fbbcfd;
  }

  .sidebardiv:hover {
    /* align-items: left; */

    width: 8rem;
    transition: width 0.4s;
  }

  .sidebardiv:hover .sidebartext {
    display: inline-block;
  }
  .sidebardiv:hover .sideicon {
    font-size: 1.5rem !important;
  }
  .sidebarunittcontainer {
    color: black;
    /* box-shadow: 3px 3px 16px var(--colorDark1), -3px -3px 16px #fbbcfd; */
  }
  .sidebarunittcontainer:hover {
    color: rgb(255, 255, 255) !important;
  }
  .sidebarunittcontainer:active {
    color: rgb(138, 138, 138) !important;
  }
  .sideicon {
    margin-left: 0.8rem;
    font-size: 1.5rem !important;
  }

  .sidebartext {
    display: none;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
  }

  .fade-effect {
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
  }

  .fade-effect-quick {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}







.digital-timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .digital-timer-container {
    flex-direction: row;
    max-width: 1140px;
  }
}

.timer-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 250px;
}

@media (min-width: 576px) {
  .timer-display-container {
    width: 450px;
    height: 320px;
  }
}

@media screen and (min-width: 768px) {
  .timer-display-container {
    width: 600px;
    height: 450px;
  }
}

@media (min-width: 992px) {
  .timer-display-container {
    width: 600px;
    height: 600px;
  }
}

.elapsed-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

@media (min-width: 576px) {
  .elapsed-time-container {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  .elapsed-time-container {
    width: 200px;
    height: 200px;
  }
}

.elapsed-time {
  color: var(--colorDark2);
  /* font-family: 'Roboto'; */
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .elapsed-time {
    font-size: 48px;
  }
}

.timer-state {
  color: #1e293b;
  /* font-family: 'Roboto'; */
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .timer-state {
    font-size: 24px;
  }
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 2rem;

}

.timer-controller-container {
  display: flex;
  align-items: center;
  
}

.timer-controller-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 16px;
  margin-left: 16px;
  padding: 0px;
  cursor: pointer;
  outline: none;
}

.timer-controller-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media (min-width: 576px) {
  .timer-controller-icon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }
}

.timer-controller-label {
  color: #1e293b;
  font-size: 24px;
  font-weight: 500;
}

@media (min-width: 576px) {
  .timer-controller-label {
    font-size: 32px;
  }
}

.timer-limit-controller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.limit-label {
  color: #1e293b;
  font-size: 16px;
  font-weight: 500;
}

.timer-limit-controller {
  display: flex;
  align-items: center;
}

.limit-controller-button {
  color: #1e293b;
  background-color: transparent;
  font-size: 40px;
  font-weight: 500;
  border: none;
  margin: 8px;
  cursor: pointer;
  outline: none;
}

.limit-label-and-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.limit-value {
  text-align: center;
  color: #1e293b;
  background-image: linear-gradient(to right, var(--colorDark1), var(--colorLight1));
  font-size: 32px;
  font-weight: 500;
  width: 100px;
  border-radius: 8px;
  margin: 0px;
  padding: 8px;
}